
{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
<h3 class="container">All Category</h3><br>
<div class="container table-responsive">
	{% if request.user.is_authenticated and request.user.is_staff or request.user.is_superuser %}
		<a href="{% url 'create_category' %}" class="btn btn-primary pull pull-right">Add New Category</a>         
	{% endif %}
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
			<th>Category Name</th>
			{% if request.user.is_authenticated and request.user.is_staff or request.user.is_superuser %}
            	<th>Action</th>
			{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
				<td><a href="{% url 'category' name=category.name %}">{{ category.name }}</a></td>
				{% if request.user.is_authenticated and request.user.is_staff or request.user.is_superuser %}
                	<td><a href="#">Delete</a> || <a href="#">Edit</a></td>
				{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>			
{% endblock %}
{% block script %}{% endblock %}
